@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

#input-field {
  border-radius: 30px;
  border-width: 2px;
  border-color: #ee0000;
  border-style: solid;
  padding: 7px;
  padding-left: 25px;
  height: 5px;
  z-index: -1;
  font-family: Blinker;
}

#input-field:focus {
  outline: 0;
}

#input-field:hover {
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.1);
}

#searchicon {
  z-index: 1;
  position: relative;
  right: 65px;
  top: -19px;
}

.app-content {
  background-image: url("https://cdn.statically.io/img/codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg?f=webp&w=1440");
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background-size: cover;
}

.weather-searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(2, 2);
  margin-top: 25px;
}

#weathericon {
  top: 0px;
  font-size: 60px;
  position: relative;
  color: rgb(100, 0, 147);
}

#degree {
  font-size: px;
  position: relative;
  left: 67px;
  top: 60px;
  color: rgb(100, 0, 147);
}

.weather-box {
  padding: 90px;
  border: solid black;
  border-radius: 20px;
  margin: 20px;
}
.weather-boxes {
  display: flex;
  position: relative;
  top: 315px;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.box-background {
  background-color: white;
  height: 650px;
  border-radius: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.date {
  position: relative;
  bottom: 150px;
}
